{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'initials/register.css' %}"/>
{% endblock %}
{% block title %}
change password
{% endblock %}
{% block content %}
         <form class="container jumbotron" style="color: black;" action="#" method="post">
         <header class="heading">Change Password</header><hr></hr>
         {% csrf_token %}
          {{ form.as_table }}
        <hr>
          <button id="submit" type="submit" class="btn btn-success">save</button>
          <!-- <br><br><center><a href="{% url 'accounts:register' %}" role="button">- Not Having an account -</a></center> -->
        </form>
{% endblock %}