{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'initials/register.css' %}"/>
{% endblock %}
{% block title %}
Register now
{% endblock %}
{% block content %}
<form class="container container-my" method="POST">
        <header class="heading"> Register Now</header><hr></hr>
            {{form.as_table}}
            {% csrf_token %}
        <center> <button id="submit" type="submit" class="btn btn-success">Register</button></center>
        {% if user.is_anonymous %}
        <br><center><a href="{% url 'accounts:login' %}" style="color:yellow;" role="button">- Having an account -</a></center>
        {% endif %}
</form>
{% endblock %}