{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'initials/login.css' %}"/>
{% endblock %}
{% block title %}
Confirm Delete
{% endblock %}
{% block content %}
    <!---heading----> 
            <form method="post" class="container">  {% csrf_token %}
                    <center><h2>Are you sure you want to delete the account</center>
                    <center><button type="submit" class="btn btn-danger" value="confirm">delete my account</button></center>                    
                </form>
{% endblock %}