{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'product/product_create.css' %}"/>
{% endblock %}
{% block title %}
Update Personal Details
{% endblock %}
{% block content %}
<form class="jumbotron container" style="color:black;" method="POST" enctype="multipart/form-data">
    <header class="heading">Update Personal Information</header><hr>
        {{form.as_table}}
        {% csrf_token %}
    <button id="submit" type="submit" class="btn btn-primary">Update</button>
</form>
{% endblock %}