{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'initials/index.css' %}"/>
<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet"> 
{% endblock %}
{% block title %}
{% if request.GET.q %}
searched for {{request.GET.q}}
{% else %}
Handysell
{% endif %}
{% endblock %}
{% block content %}
  <div class="container mt-5 pt-5">
    {% if request.GET.q %}
      <h2 style="color: aliceblue;">Here are the search result for "{{request.GET.q}}" :</h2>
    {% endif %}
    <br>
  <br>
  <br>
    {% for item in object_list %}
    <div class="col-sm-4">            
      <div class="thumbnail">
          <div class="caption">
              <h4 class="centered"; style="color:rgb(0,0,0);">{{item.title}}</h4>
              <div style="color:rgb(0,0,0);">Rs {{item.price}}/-</div>
              <form style="float: left;" action="{% url 'product:product_detail' pk=item.pk %}">
                <button type="submit" class="btn btn-danger">Details</button>
                </form>
                <div style="float: right;">
                {% include 'cart/cart_update.html' with product=item cart=cart next=request.path q=request.GET.q %}
                </div>
            </div>
              <img src={{item.image}} alt="Lights" class="img-fluid" style="width:100%; height:300px; ">
        </div>
      </div>
    {% endfor %}
    </div>
{% endblock %}
