{% extends 'base.html' %}
{% load static %}
{% block head %}

{% endblock %}
{% block title %}
My Cart
{% endblock %}
{% block content %}
<div class="container" style="padding-top: 5%;">
    <strong style="color: white;">
        <center>
            <h1>Your Cart</h1>
        </center>
    </strong>
    <div class="jumbotron">
        <div class="container">
            {% for item in cart.products.all %}
            <div class="container">
                <div style="float: left;">
                    <img src={{item.image}} alt="{{item.title}}" class="img-fluid" style="height:100px; ">
                </div>
                <div style="text-align:left;">
                    <table style="border-spacing: 15px;">
                        <tr>
                            <td>
                                <strong>Title: </strong>
                            </td>
                            <td>
                                {{item.title}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Description: </strong>
                            </td>
                            <td>
                                {{item.description}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Price: </strong>
                            </td>
                            <td style="color: green;">
                                {{item.price}} INR
                            </td>
                        </tr>
                    </table>
                </div>
                <div style="float: right;">
                    {% include 'cart/cart_update.html' with product=item cart=cart next=request.path %}
                </div>
            </div>
            <hr>
            {% endfor %}
        </div>
        <div class='container'>
            <table>
                <tr>
                    <td>
                        <h4 style="float: left;"><strong>Your cart items amount to (in INR):</strong></h4>
                    </td>
                    <td>
                        <h5 style="color: green;float:right;" class="subTotal">{{cart.sub_total}}</h5>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4 style="float: left;"><strong>Amount to pay include tax (in INR):</strong></h4>
                    </td>
                    <td>
                        <h3 style="color: green;float: right;" class="Total" >{{cart.total}}</h3>
                    </td>
                </tr>
            </table>
            <a class="btn btn-success" style="width: 100%;" href="{% url 'order:checkout' %}">Checkout</a>
        </div>
    </div>
    <style>
        table,
        th,
        td {
            padding: 5px;
        }

        table {
            border-spacing: 15px;
        }
    </style>
    {% endblock %}