body {
  color: #f5f6f7;
}
.margin {margin-bottom: 15px;}
.bg-1 { 
  background-color: #1a83bc; /* Green */
  color: #ffffff;
}
.bg-2 { 
  background-color: #474e5d; /* Dark Blue */
  color: #ffffff;
}
.bg-3 { 
  background-color: #ffffff; /* White */
  color: #555555;
}
.bg-4 { 
  background-color: #2f2f2f; /* Black Gray */
  color: #fff;
}
.container-fluid {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 1%;
  padding-right: 1%;
}