{% extends 'base.html' %}
{% load staticfiles %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'initials/about.css' %}"/>
{% endblock %}
{% block title %}
About Us
{% endblock %}
{% block content %}
        <div class='container'>
            <h1>ABOUT US
              <br>
              <img src="https://image.ibb.co/nk616F/Layer_1_copy_21.png" width="47" height="11" align="center">
            </h1>
            <center>
              <br><br><br><p> Welcome to HandiSell. We are leading Indian handicrafts Sellers, suppliers and exporters. We are basically situated in Jhansi, India. We come with a wide array of highly beautiful handicrafts in India made by highly skilled and professionals . Our highly skilled craftsmen are expert in crafting structures using several material including wood, marble, glass, paper, metal, lac and others. We being an awarded Indian handicraft manufacturer allow our customers to get a wide range of handmade handicrafts. Our handicrafts in Jhansi are loved and admired around the world in every location because of the finishing and beauty associated. We basically deal in wood craft, marble painting, marble handicraft and other similar products. Our array of handicrafts in India helps enhance beauty of you living or working place, availing a traditional appearance to that.</p>
            </center>
        </div> 
{% endblock %}