{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'initials/contact.css' %}"/>
{% endblock %}
{% block title %}
Contact Us
{% endblock %}
{% block content %}
    <div class="section">
    <div class="top-border left"></div>
    <div class="top-border right"></div>
    <h1>CONTACT US</h1>
    <h2>Hello There! I am the Developer</h3>
    <p>I hope we have been very helpful to you but if not,You can contact us on various ways as it may seem suitable to you .We will promptly reply to your request related to payment issue or order situations or etc.  ThankYou</p>
    <p>DETAILS ARE GIVEN BELOW</p>
    <div class="contact_us_small_text"> UP UP in the mountains</div>
    <div class="contact_us_small_text"> phone: +91 0000000000</div>
    <div class="contact_us_small_text"> nitishkumarchauhan1996@gmail.com</div>
    </div> 
{% endblock %}