{% extends 'base.html' %}
{% load staticfiles %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'product/product_detail.css' %}"/>
{% endblock %}
{% block title %}
Comment Info
{% endblock %}
{% block content %}
<div class="card">
    <div class="row">
        <aside class="col-sm-5 border-left container">
    <article class="card-body p-5">
        <h2 class="title mb-3">Comment on : {{comment.product.title}}</h2> 
    <h3>by : {{comment.author}}</h3>
    <br>
    <dl class="item-property">
      <dd><h4 style="border: gray dotted 2px;">{{comment.text}}</h4></dd><br>
      <dd><h4>on {{comment.created_date}}</h4></dd>
    <br><br><br>
    {% if user.is_authenticated %}
        <a href="{% url 'comment_delete' pk=comment.pk %}" class="btn btn-lg btn-danger text-uppercase"> <i class="fas fa-shopping-cart"></i> Delete</a>
    {% endif %}
    </article> 
    </aside>
    </div> 
    
    
    </div>
{% endblock %}