{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'product/product_create.css' %}"/>
<script src="{% static 'tinymce/tinymce.min.js' %}"></script>
<script>
    tinyMCE.init({
    mode: "textareas",
    theme: "silver",
    plugins: "spellchecker,directionality,paste,searchreplace",
    language: "{{ language }}",
    directionality: "{{ directionality }}",
    spellchecker_languages : "{{ spellchecker_languages }}",
    spellchecker_rpc_url : "{{ spellchecker_rpc_url }}"
});
</script>
{% endblock %}
{% block title %}
Add Product
{% endblock %}
{% block content %}

<form class="container container-m" method="POST">
        <header class="heading">Update Product Information :</header><hr></hr>
        {% csrf_token %}
        <table align="center">
            <tr>
                <td>
                    <center>
                        {{ form.as_table }}
                     </center>
                </td>
            </tr>
            <tr>
                <td><br></td>
            </tr>
            <tr>
                <td>
                </td>            
            </tr>
    </table> 
    <center> <button id="submit" type="submit" style="width: 50%;" class="btn btn-success ">Save Changes</button></center>
</form>
{% endblock %}