{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'product/product_create.css' %}"/>
<script src="{% static 'tinymce/tinymce.min.js' %}"></script>
<script src="{% static 'js/tinymce.js' %}"></script>
{% endblock %}
{% block title %}
Add Product
{% endblock %}
{% block content %}
<form class="container container-m" method="POST">
    {% csrf_token %}
    <header class="heading">Add Product Information</header><hr></hr>
        <table align="center">
            <tr>
                <td>
                    <center>
                        {{ form.as_table }}
                     </center>
                </td>
            </tr>
            <tr>
                <td><br></td>
            </tr>
            <tr>
                <td>
                </td>            
            </tr>
    </table> 
    <center> <button id="submit" type="submit" style="width: 50%;" class="btn btn-success "><span class="glyphicon glyphicon-plus"></span> Post Product</button></center>
</form>
{% endblock %}